<h1>Genres#index</h1>

<p>ジャンル・データの一覧</p>
<table>
<tr>
  <th>Id</th><th>name</th><th>memo</th>
</tr>

<% if @genres.present? %>
    <% @genres.each do |genre| %>
    <tr>
      <%#= link_to @post.user.nickname, user_path(@user.id) %>
      <td><%= genre.id %></td>
      <td><%#= link_to genre.name, genres_path(genre.id) %></td>
      <td><%#= link_to(genre.name, "/genres/#{genre.id}", {:action=>"index", :controller=>"posts"}, id: genre.id) %></td>
      <td><%= link_to(genre.name, "/genres/#{genre.id}", controller: "posts", action: "show", id: genre.id) %></td>
      <td><%#= link_to genre.name, "/genres/#{genre.id}", posts_path(genre_id) %></td>
      <td><%= genre.memo %></td>
      <td><%= link_to("Edit", "/genres/#{genre.id}/edit") %></td>
    </tr>
    <% end %>
<% end %>

</table>
<p><%= link_to("ジャンル新規作成", "/genres/add" ) %></p>
