<p id="notice"><%= notice %></p>

<div class="body-full">
    <br>
  <!-- 検索機能 -->
  <div class="container-fluid">
    <div class="card search-box">

      <div class="card-body">
        <span class="box-title"><i class="fa fa-search fa-fw"></i>検索</span>
        <%#= search_form_for(@q, method: :get) do |f| %>
        <%#= search_form_for @q ,url: {controller: "posts", action: "index"} do |f| %>
        <%= search_form_for @q do |f| %>
        <div class="row">
          <div class="col-6 col-md-3">
            <div class="form-group">
              <%#= f.label :genre_id_eq, '分野' %>
              <%= f.label :genre_id, '分野　' %>
              <%#= f.select :genre_id_eq, [["観光","観光"],["生活","生活"],["不便","不便"],["言語","言語"],["",""],["",""],["",""],["",""]], {include_blank: true}, {class: 'form-control'} %>
              <%= f.select :genre_id_eq, Genre.all.map{|genre| [genre.name, genre.id]} %>
            </div>
          </div>
          <div class="search-button">
            <%= f.submit 'この条件で検索する', class: "btn btn-sm standard-button" %>　<%= link_to '検索条件クリア', url_for, class: "btn btn-light btn-sm" %>
          </div>
         </div>
        <% end %>
       </div>
      </div>
  </div>
     <!-- 検索機能ここまで -->

  <!-- 一覧表示 -->
  <h1>Idea 一覧 </h1>
  <!-- ページング機能 -->
  <div><%= page_entries_info @posts %></div>

  <div class="container-fluid index-body">
    <div class="row">
    <div id="main" class="col-sm-12 col-md-8">


      <% unless @posts.present? %>
        <p>投稿はまだありません。</p>
      <% end %>
      <%= render partial: "article", locals: {posts: @posts} %>
  　　
  <!-- 一覧表示ここまで -->
 <br>
  <!-- ページング機能 -->
      <div><%= paginate @posts %></div>
      <%#</main>%>
      <br>

      <%= link_to '投稿する', new_post_path %>
      </div>


<%#<p>%>
<!-- サイドバー -->
<div id="side" class="col-sm-12 col-md-4">
    <!-- いいねが多い投稿一覧機能 -->
      <div class="rank-box height="10px"">
        <span class="rank-box-title"><span class="fa fa-heart like-btn"></span>いいね！ランキング</span>
        <div class="not-under">
          <% @like_ranking.each.with_index(1) do |post, i| %>
            <%= link_to post do %>
              <div class ="rank">
                <table class="table table-sm height="300px""  >
                  <tbody>
                    <tr>
                      <td class="border-top-0"><%= i %>位　「<%= post.title %>」</td>
                    </tr>
                    <tr>
                      <td class="border-top-0"> -<%= post.genre.try(:name) %>-    <span class="fa fa-heart like-btn"><%= post.likes.count %></span>件</td>
                    </tr>
                    <tr>
                      <td class="border-top-0"> (要約：<%= post.summary %>) </td>
                    </tr>
                    <tr>
                      <td class="border-top-0"> (内容：<%= post.content %>　<%= link_to 'もっと見る', post %>)- </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= link_to 'もっと見る', posts_like_ranking_path, style: "text-decoration: underline" %>
     </div>
       <!-- いいねが多い投稿一覧機能ここまで -->
  </div>


    </div>
   </div>
  </div>
</div>
